{% extends "base.html" %}

{% block pagemeta %}
<style type="text/css">
	.author, .eom, .newmsg { color: grey }
</style>
{% endblock %}

{% block content %}
{% if form %}
  <div class="newfrm">
    <p class="newmsg">New message:</p>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Post">
    </form>
  </div>
{% else %}
  <a href="{% url 'login' %}?next={{request.path}}"}>Login to post</a>
{% endif %}
{% for message in messages %}
	<div class="message">
		<p class="author">
			Posted by {{message.author}} at {{message.date}}
		</p>
		<p>{{ message.text }}</p>
	</div>
{% endfor %}
<p class="EOM">(End of messages)</p>
{% endblock %}
